.textb {
    height: 300px;
    width: 70%;
    border: 1px solid black;
    margin-left: 20px;
}
.img {
    width: 30%;
    height: 300px;
}
p {
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    margin-top: 5px;
    margin-bottom: 10px;
    margin-left: 8px;
    margin-right: 5px;
}